@charset "UTF-8"; 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page_cover 
{
  width: 100%;
  height: 100vh;
  background-color: rgb(48, 60, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #0b36e4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcad03, #f00606, #0732e2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcad03, #eb0606, #0735ec); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#profile_box
{
  width: 350px;
  height: auto;
  background-color: white;
  box-shadow: 0px 0px 30px #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  padding: 25px 10px;
}

#profile_pic
{
  width: 250px;
  height: 250px;
  box-shadow: 0px 0px 30px #ccc;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

#profile_icon
{
  font-size: 200px;
  color: #585656;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translate(-50%);
}

#profile_upload
{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  opacity: 0;
}

#upp
{
  font-size: 25px;
  font-weight: 700;
  margin-top: 10px;
  color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#profile_name
{
  font-weight: 800;
  color: purple;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#next 
{
  width: 160px;
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
  font-weight: 800;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
  margin-top: 20px;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  display: none;
}

body
{
  background: linear-gradient(to right, #2cee06, #07f1ca);
}

#profile_header
{
  width: 100%;
  height: 130px;
  background-image: url("images/57.jpg");
  background-size: cover;
  background-position: center;
}

#profile_picture
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 0px 50px #ccc;
  background-color: brown;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
}

#profile_username
{
  text-align: center;
  margin-top: 80px;
  font-size: 40px;
  color: blue;
  font-family: Algerian;
  font-weight: 800;
}

#app
{
  width: 100%;
  height: 300px;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
@media (max-width:576px)
{
  #app
  {
    flex-direction: column;
    height: 100%;
  }
}

#contact,#player,#logout
{
  width: 200px;
  height: 150px;
  cursor: pointer;
  background-color: white;
  margin: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#contact:hover,#player:hover,#logout:hover
{
  width: 230px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0px 0px 50px blue;
  transition: 0.9s;
}

#contact i, #player i,#logout i  
{
  font-size: 50px;
  color: brown;
}

#contact p,#player p,#logout p  
{
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
  font-family: 'ubuntu', sans-serif;
  color: brown;

}

#profile_footer
{
  width: 100%;
  height: 68px;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile_footer p
{
  font-size: 30px;
  font-weight: 600;
  color: white;
  font-family: Algerian;
}