* {
  margin: 0;
  padding: 0;
  font-family: cursive;
  box-sizing: border-box;
}

.head {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(70deg, #202020, #020211);
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  width: 400px;
  height: 300px;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.left, .right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
}

.right {
  width: 45%;
  background: #eb2712;
  color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.left {
  width: 55%;
}

#date {
  font-size: 120px;
  line-height: 110px;
  margin-bottom: 10px;
}