@charset "UTF-8"; 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container 
{
  width: 100%;
  height: 100vh;
  background-color: rgb(48, 60, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#page
{
  width: 350px;
  height: auto;
  background-color: white;
  box-shadow: 0px 0px 30px #ccc;
  border-radius: 20px;
  padding: 25px 10px;
}

#login h1 , #signup h1 
{
  font-family: "Ubuntu", sans-serif;
  color: green;
}

#signup
{
  display: none;
}

hr
{
  border-top: 5px dotted green;
  margin-top: 15px;
}

#login_email, #login_password,#username,#phone,#email,#password
{
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  color: blue;
  padding-left: 2px;
  border-bottom: 1px solid black;
  margin-top: 20px;
  font-size: 20px; 
  font-family: "Ubuntu", sans-serif;
}

#login_frm
{
  margin-top: 20px; 
}
#signup_frm
{
  margin-top: 10px;
}


#login_btn,#signup_btn 
{
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  font-size: 25px;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 7px;
  cursor: pointer;
  margin-top: 50px;
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

#login span , #signup span 
{
  cursor: pointer;
  color: blue;
  font-size: 20px;
}

#login p ,#signup p 
{
  text-align: center;
  margin-top: 7px;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: black;
}

#email_notice, #login_email_warning,#login_password_warning
{
  font-family: 'Ubuntu',sans-serif;
  color: red;
  display: none;
}