*{
  margin: 0;
  padding: 0;
  font-family: cursive;
  box-sizing: border-box;
}
body{
  background-color: #606770;
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator{
  background: #3a4452;
  border-radius: 20px;
  padding: 20px;
}

.calculator form input{
  width: 60px;
  height: 60px;
  border: 0;
  outline: 0;
  border-radius: 20px;
  margin: 10px;
  box-shadow: -8px -8px 15px rgba(247, 3, 16, 0.1), 5px 5px 15px rgba(236, 6, 6, 0.979);
  font-size: 25px;
  font-weight: 600;
  background: transparent;
  color: #ddd;
  cursor: pointer;
}

form .display{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .display input{
  text-align: right;
  flex: 1;
  font-size: 30px;
  color: rgb(0, 255, 64);
}

form input.equal{
  width: 145px;
  color: yellow;
}

form input.operator{
  color: yellow;
}