@charset "utf"; 
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    width: 100%;
    height: auto;
    background-color: yellow;
    padding: 10px;
    color: blue;
    font-size: 30px;
    text-align: center;
}

#code_box
{
    margin: 10px auto;
    width: 93%;
    height: 500px;
}


legend
{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

#code 
{
    width: 100%;
    height: 90%;
    border: none;
    padding: 10px;
    font-size: 20px;
    outline: none;
}

#run_btn
{
    padding: 10px;
    font-weight: bold;
    margin: 10px;
}

#result
{
    width: 100%;
    height: 90%;
    overflow: scroll;
    padding: 10px;
}

#result_box
{
    display: none; 
    margin: 20px auto;
    width: 90%;
    height: 500px; 
}

#icon
{
    display: none;
    padding: 10px;
    font-weight: bold;
    margin: 10px; 
}