*{
  margin: 0;
  padding: 0;
  font-family: cursive;
  box-sizing: border-box;
}
.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #4203a9, #5992ec);
  padding: 10px;
}

.calculator{
  width: 100%;
  max-width: 600px;
  margin-top: 10%;
  margin-left: 10%;
}
.calculator h1{
  font-size: 70px;
  font-weight: 600;
  color: yellow;
}

.input-box{
  background: rgb(255, 2555, 255, 0.3);
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 40px 0;
  padding: 30px;
}

.input-box input{
  position: relative;
  border-radius: 20px;
  font-size: 20px;
  flex: 1;
  border: 0;
  outline: 0;
  margin-right: 20px;
  padding: 15px 20px;
  cursor: pointer;
}

.input-box button{
  background: yellow;
  border-radius: 20px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 600;
  color: #080707;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.input-box input::-webkit-calendar-picker-indicator{
  width: auto;
  height: auto;
  position: absolute;
  background-size: 40px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: calc(100% - 10px);
}

#result{
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

#result span{
  color: yellow;
}